Repository markgrushevski/vueinjar: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
    "**/*.{vue,js,ts,json,md,html,css}": ["prettier --write"],
    "**/*.{vue,css}": ["stylelint --fix"],
    "**/*.{vue,js,ts}": ["eslint --fix"]
}

build: change paths and names
  App.vue
  components/IconWrapper/IconWrapper.vue
  package.json
  tsconfig.json
  vite.config.ts
Due: prettier --write, stylelint --fix, eslint --fix

chore: add linter ignore files
  .eslintignore
  .eslintrc.json
  .stylelintignore
  .stylelintrc.json
Due: prettier --write

fix: add styles import
  App.vue
Due: prettier --write, stylelint --fix, eslint --fix

refactor: change IconWrapper.vue api
  components/IconWrapper/IconWrapper.vue
Due: prettier --write, stylelint --fix, eslint --fix

build: up version, change scripts
  package-lock.json
  package.json
Due: prettier --write

refactor: change mappings
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  App.vue
  README.MD
  package-lock.json
  package.json
  tsconfig.json
  vite.config.ts
Due: prettier --write, stylelint --fix, eslint --fix

fix: remove random package
  package-lock.json
  package.json
Due: prettier --write

chore: up version
  package.json
Due: prettier --write

fix: change mappings
  App.vue
  package-lock.json
  package.json
Due: prettier --write, stylelint --fix, eslint --fix

fix: remove types folder from gitignore
  .gitignore
  .husky/pre-commit
  README.MD
  package-lock.json
  package.json
  types/IconWrapper/IconWrapper.vue.d.ts
  types/IconWrapper/IconWrapper.vue.d.ts.map
  types/IconWrapper/index.d.ts
  types/IconWrapper/index.d.ts.map
  types/index.d.ts
  types/index.d.ts.map
Due: prettier --write, eslint --fix

build: add umd generation for future cdn
  .gitignore
  .husky/pre-commit
  App.vue
  package-lock.json
  package.json
  types/IconWrapper/IconWrapper.vue.d.ts
  types/IconWrapper/IconWrapper.vue.d.ts.map
  types/IconWrapper/index.d.ts
  types/IconWrapper/index.d.ts.map
  types/index.d.ts
  types/index.d.ts.map
  vite.config.ts
Due: prettier --write, stylelint --fix, eslint --fix

chore: disable stylelint rule for class pattern
  .stylelintrc.json
Due: prettier --write

docs: update usage example
  README.MD
Due: none

build: remove umd generation, bump versions
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix

build: add building for docs
  docs/App.vue
  docs/package-lock.json
  docs/package.json
  package.json
  tsconfig.docs.tsbuildinfo
  vite.config.js
  vite.docs.js
Due: prettier --write, stylelint --fix, eslint --fix

fix: add installation vueinjar in docs
  package.json
  tsconfig.docs.tsbuildinfo
Due: prettier --write

fix: change links, and text
  docs/.vitepress/config.js
  docs/components/avatar.md
  docs/components/button.md
  docs/components/card.md
  docs/components/icon.md
  docs/guide/get-started.md
  docs/index.md
Due: prettier --write, eslint --fix

Delete directory
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/cache/deps/chunk-7EFSO7YK.js
  docs/.vitepress/cache/deps/chunk-7EFSO7YK.js.map
  docs/.vitepress/cache/deps/package.json
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js.map
  docs/.vitepress/cache/deps/vitepress___@vueuse_core.js
  docs/.vitepress/cache/deps/vitepress___@vueuse_core.js.map
  docs/.vitepress/cache/deps/vue.js
  docs/.vitepress/cache/deps/vue.js.map
Due: prettier --write, eslint --fix

build: change docs building
  .gitignore
  .vitepress/config.js
  .vitepress/theme/DocsLayout.vue
  .vitepress/theme/index.js
  docs/components/avatar.md
  docs/components/button.md
  docs/components/card.md
  package.json
Due: prettier --write, stylelint --fix, eslint --fix

build: change docs building for vercel
  docs/.vitepress/config.js
  docs/.vitepress/theme/DocsLayout.vue
  docs/.vitepress/theme/index.js
  docs/api-examples.md
  docs/components/avatar.md
  docs/components/card.md
  docs/extension-examples.md
  package.json
Due: prettier --write, stylelint --fix, eslint --fix

build: fix deployment problem with env mode
  docs/.vitepress/config.js
Due: prettier --write, eslint --fix

build: fix favicon loading
  docs/.vitepress/config.js
Due: prettier --write, eslint --fix

fix: change public images path
  docs/.vitepress/config.js
  docs/components/avatar.md
  docs/components/card.md
Due: prettier --write, eslint --fix

add vercel analytics
  docs/.vitepress/config.js
Due: prettier --write, eslint --fix

chore: change configs, reinstall packages and some small fixes
  .editorconfig
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .stylelintignore
  .stylelintrc.json
  docs/.vitepress/theme/DocsLayout.vue
  docs/guide/get-started.md
  eslint.config.mjs
  lib/components/avatar/v-avatar.vue
  lib/components/button/v-button.vue
  lib/components/card/v-card.vue
  lib/components/icon/v-icon.vue
  lib/components/spinner/v-spinner.vue
  lib/styles/fonts/_fonts-size.css
  lib/styles/fonts/fonts.css
  lib/styles/positions/positions.css
  lib/styles/sizes/_sizes-action.css
  lib/styles/sizes/_sizes-gap.css
  lib/styles/sizes/_sizes-radius.css
  lib/styles/sizes/_sizes-screen.css
  lib/styles/sizes/sizes.css
  lib/styles/styles.css
  lib/styles/themes/_themes-color.css
  lib/styles/themes/_themes-variant.css
  lib/styles/themes/themes.css
  package-lock.json
  package.json
  tsconfig.docs.tsbuildinfo
  tsconfig.lib.tsbuildinfo
Due: prettier --write, stylelint --fix, eslint --fix

fix: typo
  docs/guide/get-started.md
Due: prettier --write

build: change lib building
  README.MD
  lib/customization/index.ts
  lib/index.ts
  lib/types.ts
  package-lock.json
  package.json
  vite.config.js
Due: prettier --write, eslint --fix

style: sort lines
  package.json
Due: prettier --write

chore: remove log and fix url
  package.json
  vite.config.js
Due: prettier --write, eslint --fix

0.3.1
  package-lock.json
  package.json
Due: prettier --write

fix: change path mappings
  lib/components/avatar/v-avatar.vue
  lib/components/button/v-button.vue
  lib/components/card/v-card.vue
  lib/components/icon/v-icon.vue
  lib/components/spinner/v-spinner.vue
  package.json
  tsconfig.base.json
Due: prettier --write, stylelint --fix, eslint --fix

build: change to preserve modules building
  package.json
  tsconfig.base.json
  tsconfig.json
  tsconfig.lib.json
  vite.config.js
Due: prettier --write, eslint --fix

chore: move util types to index file
  lib/index.ts
  lib/types.ts
  package.json
Due: prettier --write, eslint --fix

fix: remove init function
  docs/.vitepress/theme/DocsLayout.vue
Due: prettier --write, stylelint --fix, eslint --fix

build: change lib building
  lib/index.ts
  package.json
  tsconfig.json
  vite.config.js
Due: prettier --write, eslint --fix
