Repository markgrushevski/vueinjar: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
    "**/*.{vue,js,ts,json,md,html,css}": ["prettier --write"],
    "lib/**/*.{vue,css}": ["stylelint --fix"],
    "lib/**/*.{vue,js,ts}": ["eslint --fix"]
}

fix: wrong VButton component export
  lib/components/button/index.ts
Due: prettier --write, eslint --fix

0.3.7
  package-lock.json
  package.json
Due: prettier --write

fix: update styles
  lib/components/button/v-button.vue
  lib/components/card/v-card.vue
  lib/styles/themes/_themes-color.css
  package.json
  tsconfig.json
Due: prettier --write, stylelint --fix, eslint --fix

fix: update v-card, font and fluid styling
  lib/components/button/v-button.vue
  lib/components/card/v-card.vue
  lib/styles/fonts/_fonts-size.css
  package.json
Due: prettier --write, stylelint --fix, eslint --fix

fix: update v-button styling font and variants
  lib/components/button/v-button.vue
  lib/styles/themes/_themes-variant.css
Due: prettier --write, stylelint --fix, eslint --fix

0.3.10
  package-lock.json
  package.json
Due: prettier --write

fix: update active and hover state for variants
  lib/styles/themes/_themes-variant.css
  lib/styles/utils/utils.css
  package.json
Due: prettier --write, stylelint --fix

feat!: replace card 'body' slot to default slot
  lib/components/avatar/v-avatar.vue
  lib/components/card/v-card.vue
  package.json
Due: prettier --write, stylelint --fix, eslint --fix

fix!: add default name to v-card slot
  lib/components/card/v-card.vue
  package.json
Due: prettier --write, stylelint --fix, eslint --fix

revert replacing 'body' v-card slot
  lib/components/card/v-card.vue
  package.json
Due: prettier --write, stylelint --fix, eslint --fix

feat: add row props for v-card
  docs/components/avatar.md
  docs/components/card.md
  lib/components/avatar/v-avatar.vue
  lib/components/card/v-card.vue
  package.json
Due: prettier --write, stylelint --fix, eslint --fix

fix: remove min-height from v-card
  lib/components/card/v-card.vue
  package.json
Due: prettier --write, stylelint --fix, eslint --fix

fix: remove v-avatar unused props, remove padding from .v-size-action-space
  lib/components/avatar/v-avatar.vue
  lib/styles/sizes/_sizes-action.css
  package.json
Due: prettier --write, stylelint --fix, eslint --fix

fix: button size type
  lib/components/button/v-button.vue
  package-lock.json
  package.json
Due: prettier --write, stylelint --fix, eslint --fix
